body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#container-one{
    display: flex;
    justify-content: space-between;
}

#sidebar{
    width: 15%;
    padding: 20px;
}

#category > div{
    display: flex; 
}

#category > div img{
    width: 10%;
    height: 10%;
    margin: 15px 15px 0px 15px;
}

#category > div span,#playlist > div span{
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
}

#playlist,#category{
    margin-top: 25px;
}

#playlist > div{
    display: flex; 
}

#playlist > div > img:nth-child(1),#install > img{
    width: 10%;
    height: 10%;
    margin: 15px 15px 0px 15px;
}

.create-playlist{
    position: relative;
}

#plus{
    position: absolute;
    left: 41px;
    top: 230px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

#heart{
    position: absolute;
    width: 10px;
    left: 41px;
    top: 290px;
    
}
#hotspot{
    position: absolute;
    width: 10px;
    left: 41px;
    top: 327px;
    color: white;
    
}

#favs{
    margin-top: 30px;
}

#favs p{
    margin: 15px 15px 0px 15px;
    font-size: 16px;
}

#install{
    display: flex;
    margin-top: 30px;
}


#main{
    width: 85%;
    height: auto;
    background: rgb(34,34,34);
    background: linear-gradient(170deg, rgba(34,34,34,1) 25%, rgba(0,0,0,1) 100%);
    padding: 30px;
}

#navigation{
    display: flex;
    justify-content: space-between;
}

#navigation > div{
    width: 10%;
}

#navigation > div:nth-child(2) > img{
   position: relative;
}

#navigation >div> div:nth-child(2){
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 118px;
    top: 32px;
}

#navigation >div> div:nth-child(2) > img{
    border-radius: 50px;
    width: 20%;  
}
#navigation >div> div:nth-child(2) > span{
    margin-top: 5px;
    font-weight: 600;
}

#mid-section,#bottom-section{
    /* border: 1px solid yellow; */
    height: auto;
    margin-top: 18px;
}


               
#mid-section > #cards-playlist{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

#cards-playlist > div{
    height: 90px;
    background-color: #303030;
    border-radius: 5px;
    display: flex;
}

#bottom-section > div:nth-child(1){
    display: flex;
    justify-content: space-between;
}

#bottom-section div h1{
    margin-bottom: 0px;
}

#bottom-section >div> p{
    margin-top: 30px;
}

#songs{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
}

#songs > div{
    background-color: #181818;
    height: 230px;
    padding: 15px;
}
.song-avatar > img:nth-child(1){
    position: relative;
    border-radius: 5px 0px 0px 5px;
}

.song-avatar > img:nth-child(2){
    position: absolute;
    top: 183px;
    left: 315px;
}

.cards > div:nth-child(2) p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 35px;
    margin-left: 15px;
}

.first > div:nth-child(2) p{
    font-size: 16px;
    font-weight: 500;
    margin-top: 35px;
    margin-left: 25px;
}

#songs > div p{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 1px;
}

#songs > div span,#current > div >span{
    font-size: 15px;
    color: rgb(163, 160, 160);
    margin-bottom: 0px;
}

#container-two{
    background-color: #181818;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#container-two > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
}
#container-two > div:nth-child(1) > div:nth-child(1){
    
    width:20%;
}

#container-two > div:nth-child(1) > div:nth-child(2){
    display: inline-flex;
    justify-content: center;
    
    width:60%;
}

#container-two > div:nth-child(1) > div:nth-child(2) img{
    width:70%;
}
#container-two > div:nth-child(1) > div:nth-child(3){
    
    width:25%;
}

#container-two > div:nth-child(1) > div:nth-child(3) img{
    margin-top: 20px;
    margin-left: 50px;
    width: 70%;
}

#current > img:nth-child(1){
    width: 60px;
    height: 60px;
    
}
#current > div{
    width: 50%;
    margin-left: 10px;
}
#current > div >p{
    font-size: 14px;
    margin-bottom: 0px;
}

#current > div >span{
    font-size: 12px;
    color: rgb(163, 160, 160);
    margin-bottom: 0px;
}

#current > .green-heart{
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

#container-two > div:nth-child(2){
    width: 100%;
    height: 20px;
   background-color: #1ed760;
}

#current{
    display: flex;
    width: 10%;
}
